@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
  -ms-grid-column: $col-start;
  -ms-grid-column-span: $col-end - $col-start;
  -ms-grid-row: $row-start;
  -ms-grid-row-span: $row-end - $row-start;
  grid-column: #{$col-start}/#{$col-end};
  grid-row: #{$row-start}/#{$row-end};
}

@mixin grid($grid-type, $args, $row-gap, $column-gap: $row-gap) {
  @supports (display: grid) {
    display: grid;
    #{$grid-type}: #{$args};
    grid-gap: rem($row-gap) rem($column-gap);
  }
}

.grid__1 {
    @include grid('grid-template-columns', 'repeat(1, auto)', 10px, 15px);
}

.grid__2 {
    @include grid('grid-template-columns', 'repeat(2, auto)', 10px, 15px);
}

.grid__3 {
    // @include grid('grid-template-rows', '1fr 2fr', 10px, 20px);
    @include grid('grid-template-columns', 'repeat(3, auto)', 10px, 15px);
}

.grid__4 {
    @include grid('grid-template-columns', 'repeat(4, auto)', 10px, 15px);
}

.grid__5 {
    @include grid('grid-template-columns', 'repeat(5, auto)', 10px, 15px);
}

.grid__6 {
    @include grid('grid-template-columns', 'repeat(6, auto)', 10px, 15px);
}

.grid__7 {
    @include grid('grid-template-columns', 'repeat(7, auto)', 10px, 15px);
}

.grid__8 {
    @include grid('grid-template-columns', 'repeat(8, auto)', 10px, 15px);
}

.grid__9 {
    @include grid('grid-template-columns', 'repeat(9, auto)', 10px, 15px);
}

.grid__10 {
    @include grid('grid-template-columns', 'repeat(10, auto)', 10px, 15px);
}

.grid__11 {
    @include grid('grid-template-columns', 'repeat(11, auto)', 10px, 15px);
}

.grid__12 {
    @include grid('grid-template-columns', 'repeat(12, auto)', 10px, 15px);
}

.gap-0 {
    grid-gap: 0 !important;
}