@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin size-width($width) {
  width: $width;
}

@mixin size-height($height) {
  height: $height;
}

@mixin size-min-width($width) {
  min-width: $width;
}

@mixin size-min-height($height) {
  min-height: $height;
}

@mixin size-max-width($width) {
  max-width: $width;
}

@mixin size-max-height($height) {
  max-height: $height;
}