@import '../core/typography';

@mixin hightligted-tablist-nav {
    border: none;
    grid-column-gap: 0 !important;
    grid-row-gap: auto !important;
    .tablist-nav-link {
        // @include border-radius(5px 0 0 0);
        @include position(relative, null, null, null, null);
        @include size-width(100%);
        @include padding(20px);
        text-align: center;
        border: none;
        background-color: app-color('maingray-bg');
        color: app-color('darkgray-bg');

        &:focus {
            outline: none;
            box-shadow: none;
            border: none;
        }

        .icon {
            @include margin-right(15px);
            display: inline-block;
            vertical-align: middle;

            img {
                vertical-align: middle;
            }

            .no-active {
                display: none;
                opacity: 0;
            }

            .active {
                display: inline-block;
                opacity: 1;
            }
        }

        &.active {
            color: app-color('white-bg') !important;

            .tab-nav-title {
                color: app-color('white-bg') !important;
            }

            &:after {
                opacity: 1 !important;
            }
        }

        &:after {
            content: '';
            @include position(absolute, null, 0, 0, 0);
            @include size-width(100%);
            @include size-height(2px);
            background-color: app-color('main-bg');
            opacity: 0;
        }
    }
}

@mixin tablist-top-radius {
    .nav-link {
        @include border-radius(3px 3px 0 0);
        &.active {
            background-color: #3d3b41 !important;
        }
    }

    .nav-item {
        &:nth-child(1) {
            .nav-link {
                @include border-radius(3px 0 0 0 !important);
            }
        }
        &:nth-child(2) {
            .nav-link {
                @include border-radius(0 !important);
            }
        }
        &:nth-child(3) {
            .nav-link {
                @include border-radius(0 3px 0 0 !important);
            }
        }
    }
}


@mixin tab-title($typography: 't-font-size12') {
    @extend %#{$typography};
    font-family: $font-overpassBold;
    @include position(relative, null, null, null, null);
    text-transform: uppercase;
    display: inline-block;
    color: app-color('text-gray');
}