@mixin categories-navbar {
    background-color: app-color('black-bg');
    @include size-width(100%);
    @include padding(0);

    @include for-tablet-landscape-sdown {
        background-color: app-color('white-bg');
        @include overflow(hidden, auto);
        @include padding(15px 0);
    }

    .categories {
        &-inline {
            @include flexbox();
            @include flex-wrap(wrap);
            @include align-items(center);
            @include flex-direction(row);
            @include justify-content(space-between);
            position: relative;
            list-style-type: none;

            @include for-tablet-landscape-sdown {
                @include size-width(max-content);
            }
        }

        &-item {
            @include padding(0);
            position: relative;

            &.active {
                background-color: app-color('white-bg');

                .categories-link {
                    color: app-color('black-bg');
                }
            }

            &:not(:last-of-type) {
                @include for-tablet-landscape-sdown {
                    @include margin-right(15px);
                }
            }
        }

        &-link {
            @include padding(12px 25px);
            display: block;
            font-size: 24px;
            font-weight: bold;
            font-family: $font-bold;
            position: relative;
            color: app-color('white-bg');

            @include for-tablet-landscape-sdown {
                font-size: 7px;
                line-height: 8.2px;
                color: app-color('black-bg');
                background-color: app-color('white-bg');
                @include padding(8px 15px);
                box-shadow: 0px 0px 4px -1px rgba(205, 205, 205, 1);
            }
        }
    }
}

.categories-navbar {
    @include categories-navbar;
}